A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [1]:
l=[1,2,3,4,5,"abc","bdm",True]
for x in l:
    print(x)

1
2
3
4
5
abc
bdm
True

In [6]:
l=[1,2,3,4,5,"abc","bdm",True]
for x in l:
    if x==5:
        break
    
    print(x)

1
2
3
4

In [8]:
l2="banana"
for x in l2:
    print(x)

b
a
n
a
n
a

In [13]:

for x in l:
    print(x)
    if x==4:
        break

1
2
3
4

In [14]:
for x in l:
    print(x)
    if x==4:
        continue

1
2
3
4
5
abc
bdm
True

In [15]:
for x in l:
    
    if x==4:
        continue
    print(x)

1
2
3
5
abc
bdm
True

The range() Function
To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [25]:

for x in range(7,71,7):
    print(x)

7
14
21
28
35
42
49
56
63
70

In [28]:
for x in range(7,71,7):
    print(x)
else:
    print("successfully culculated")

7
14
21
28
35
42
49
56
63
70
successfully culculated

In [30]:
for x in range(7,71,7):
    if x==42:
        break
    print(x)
    
else:
    print("successfully culculated")

7
14
21
28
35
42

In [31]:
for x in range(7,71,7):
    
    print(x)
    if x==42:
        break
    
else:
    print("successfully culculated")

7
14
21
28
35
42

In [34]:
l3=[6,5,4,3,2,1,"asd","hgsd",False]
l4=[2,4,6,8,10,"rey","tyr"]
for x in l3:
    for y in l4:
        print(x, y)

6 2
6 4
6 6
6 8
6 10
6 rey
6 tyr
5 2
5 4
5 6
5 8
5 10
5 rey
5 tyr
4 2
4 4
4 6
4 8
4 10
4 rey
4 tyr
3 2
3 4
3 6
3 8
3 10
3 rey
3 tyr
2 2
2 4
2 6
2 8
2 10
2 rey
2 tyr
1 2
1 4
1 6
1 8
1 10
1 rey
1 tyr
asd 2
asd 4
asd 6
asd 8
asd 10
asd rey
asd tyr
hgsd 2
hgsd 4
hgsd 6
hgsd 8
hgsd 10
hgsd rey
hgsd tyr
False 2
False 4
False 6
False 8
False 10
False rey
False tyr

In [37]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(y, x)

apple red
banana red
cherry red
apple big
banana big
cherry big
apple tasty
banana tasty
cherry tasty

The pass Statement
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [38]:
for x in [0, 1, 2]:
  pass